extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Curabitur ac tempor enim. Ut ut nisl quam. In ante felis, hendrerit ut vestibulum vitae, vulputate eu augue. Morbi non laoreet eros, vitae condimentum odio. Etiam mattis luctus nisi, vitae tincidunt justo scelerisque a. Suspendisse sit amet volutpat lacus. Maecenas eu tincidunt augue.  
                p  Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed a tincidunt felis, tincidunt luctus ante. Praesent interdum est sed lectus facilisis, in rhoncus tortor pretium. Praesent facilisis erat eget nisl ultrices lacinia id quis neque. Nullam commodo pharetra est, id euismod lacus euismod ac. Curabitur convallis commodo mauris, vel rhoncus sapien sodales ac. Suspendisse aliquam eleifend est. Nullam vulputate in nunc nec tincidunt. 
                p Aenean dui augue, iaculis ut magna ac, placerat consequat nunc. Sed metus purus, pharetra ullamcorper semper eget, tincidunt ut libero. Cras ut porttitor ex. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p In justo dui, consequat vitae ex sit amet, porttitor interdum lorem. Quisque eu dapibus justo. Proin hendrerit id neque non sagittis.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores destionos
                    p In justo dui, consequat vitae ex sit amet, porttitor interdum lorem. Quisque eu dapibus justo. Proin hendrerit id neque non sagittis.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p In justo dui, consequat vitae ex sit amet, porttitor interdum lorem. Quisque eu dapibus justo. Proin hendrerit id neque non sagittis.

